* {
  margin: 0;
}

body * {
  font-family: "Dosis", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/* box main */

#main {
  /* text-align: center; */
  border: #3f3d56 1px solid;
  margin: 64px auto 64px;
  /* padding-top: 64px;
  padding-bottom: 64px; */
  width: 626px;
  height: 486px;
}

/* Image in block */

#img {
  display: inline-flex;
  text-align: center;
  width: 350px;
  height: 238px;
  padding-bottom: 32px;
}

/* Fontes */
h1 {
  text-align: center;

  padding-bottom: 16px;

  color: #3f3d56;
  font-family: "Dosis";
  font-size: 32px;
  font-weight: 500;
}

#main span {
  color: #ee24ff;
  font-weight: bold;
}

#main p {
  display: inline-table;
  border: #3f3d56 1px solid;

  color: #828282;
  font-family: "open sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  width: 540px;
  height: 107px;

  padding-bottom: 0;
}

.texto2 {
  display: inline-table;
  border: #3f3d56 1px solid;
  text-align: center;

  color: #828282;
  font-family: "open sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  width: 626px;
  height: 21px;
  margin-bottom: 64px;
  /* padding: 32px auto 64px; */
}

#main strong {
  color: #3f3d56;
}

/* linha */

#line {
  width: 391px;
  height: 0px;
  margin: auto;
  border: 1px solid #eceff2;
}

/* texto rodapé */

#footer a {
  color: #3f3d56;
  font-size: 15px;
  line-height: 147px;
  font-weight: bold;
  font-family: "Open Sans";
}

#footer a + a {
  margin-left: 42px;
}

/* imagem rodapé */

#footer img {
  width: 100vw;
}
